@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.custom-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: #353945;
  outline: none;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3772ff;
  cursor: pointer;
}

.custom-range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3772ff;
  cursor: pointer;
}

.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #353945;
}

.custom-range::-moz-range-track {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #353945;
}

.custom-range::-moz-range-progress {
  background-color: #3772ff;
  height: 10px;
  border-radius: 10px;
}

.custom-range::-webkit-progress-value {
  background-color: #3772ff;
  height: 10px;
  border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* For WebKit-based browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

/* For Mozilla Firefox */
/* Firefox doesn't support styling the scrollbar directly, so we use an extension with pseudoelements */
/* You will need to install the 'firefox-scrollbar' extension for this to work */

/* This is the scrollbar thumb */
* {
  scrollbar-color: #888 transparent;
}

/* This is the scrollbar track */
* {
  scrollbar-width: thin;
}

.message {
  background-color: #353945;
  color: #fff;
  padding: 6px 8px;
  border-radius: 10px;
  margin: 6px 5px;
  display: inline-block;
}

.isCompleted {
  padding: 0px;
}

.message .completed-trade {
  background-color: #37a452;
  color: #fff;
  padding: 0px 12px;
  border-radius: 10px;
  margin: 0;
}

.message .completed-trade br {
  display: none;
}

.message .completed-trade .completed-trade-header {
  font-weight: 600;
  margin-bottom: 0px;
  display: inline;
}

.message .completed-trade .completed-trade-body {
  font-size: 14px;
  /* display: inline; */
}

/* Hide time in completed trade messages */
.isCompleted > [data-time].message-time {
  display: none;
}

.time {
  color: #fff;
}

.completed-trade {
  background-color: #37a452 !important;
}

.digital-name {
  color: blue;
}

.digital-code {
  color: blue;
}
